.buttonWrapper {
	display: inline-block;
}

.headlineButtonWrapper {
	display: inline-block;
}

.headlineButton {
	background: #fbfbfb;
	color: #888;
	font-size: 18px;
	border: 0;
	padding-top: 5px;
	vertical-align: bottom;
	height: 34px;
	width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
	background: #f3f3f3;
}

.button {
	background: #333;
	color: #ddd;
	font-size: 18px;
	border: 0;
	padding-top: 5px;
	vertical-align: bottom;
	height: 34px;
	width: 36px;
	border-radius: 4px;
}

.button svg {
	fill: #ddd;
}

.button:hover,
.button:focus {
	background: #444;
	outline: 0; /* reset for :focus */
}

.active {
	color: #6a9cc9;
}

.active svg {
	fill: #6a9cc9;
}
