.footerconmain {
	display: flex;
	flex-direction: column;
	background-color: #dd5405;
	margin: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}

.footercon {
	display: flex;
	flex-direction: column;
	background-color: #dd5405;
}

.footercon-col h3 {
	margin-bottom: 0;
}

.footercon-col a {
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
	transition: 1.5s ease-in-out;
}

.footercon-col svg {
	transition: 0.2s ease-in-out;
}

.footercon-col a:hover > svg {
	transform: translateX(-5px);
}

.footerconmain p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-size: 10pt;
	text-align: center;
}

/* ------------------------------------- */
/* Anything bigger than a phone */
@media only screen and (min-width: 600px) {
	.footercon {
		flex-direction: row;
		justify-content: space-around;
	}

	.footercon-col {
		min-width: 20vw;
	}
}

/* Anything bigger than a tablet screen */
@media only screen and (min-width: 1000px) {
}
