.Home {
  min-height: 85vh;
}

.Home h2 {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 600px) {
  .Home h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
