.footerconmain {
    display: flex;
    flex-direction: column;
    background-color: #dd5405;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.footercon {
    display: flex;
    flex-direction: column;
    background-color: #dd5405;
}

.footercon-col ul {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footercon-col ul li {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footercon-col h3 {
    margin-bottom: 0;
}

.footercon-col ul li p {
    margin: 0;
    padding-left: 6px;
    font-size: 12pt;
}

.footerconmain p {
    margin-bottom: 0px;
    font-size: 10pt;
    text-align: center;
}