.ProjecCon {

}

.ProjecCon h2 {
    margin-bottom: 0px;
}

.ProjecCon .projects {
    display: flex;
    flex-direction: column;
}

.loadmore {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
}