.ProjectCon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #2b2b2b;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    transition: 0.2s ease-in-out;
}

.ProjectConTop {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.ProjectConBot {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222222;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ProjectConImage {
    min-height: 62%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ProjectConText {
    min-width: 50%;
}

.ProjectConText h3 {
    font-size: 13pt;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    margin-top: 15px;
}

.ProjectConText p {
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
}

/* For the ProjectContainter Class */
/* ------------------------------- */
.ProjecConCon {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
    overflow: hidden;
}

.ProjecConCon h2 {
    margin-bottom: 0px;
    width: 100vw;
}

.ProjecConCon .projects {
    display: flex;
    flex-direction: column;
}

.loadmore {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  

}


/* For both Project and ProjectCon class */
/* ------------------------------------- */
/* Anything bigger than a phone */
@media only screen and (min-width: 600px) {
    .ProjecConCon {
        margin: 20px;
    }

    .ProjecConCon .projects {
        flex-wrap: wrap;
        flex-direction: unset;
        justify-content: left;
        margin-left: -10px;
        margin-right: -10px;

    }

    .ProjectCon {
        margin-left: 10px;
        margin-right: 10px;
        align-self: flex-start;
        max-width: 45vw;

    }
  }

  /* Anything bigger than a tablet screen */
  @media only screen and (min-width: 1000px) {
      .ProjectCon {
          max-width: 420px;
      }
  }