.AboutMe {
    margin: 10px;
    margin-bottom: 30px;
}

.aboutmecon {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 10px;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.AboutMe h2 {
    margin-bottom: 10px;
}

.maincon {
    display: flex;
    flex-direction: row;
}

.mainconimg {
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainconimg img {
    width: 95%;
    border-radius: 100px;
}

.imgring {
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.maincontext {
    width: 75%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}

.maincontext h3 {
    margin: 0px;
    margin-bottom: 5px;
}

.maincontext h4 {
    margin: 0px;
    font-weight: normal;
    font-style: italic;
    font-size: 11pt;
}

.socials {
    margin-top: 10px;
}

.socials a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

