body {
    background-color: #1a1a1a;
    color: #ffffff;
}

.AppContent {
    min-height: 85vh;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}