body {
    background-color: #1a1a1a;
    color: #ffffff;
}

.AppContent {
    min-height: 85vh;
    z-index: 0;
}

.HeaderWrapper {
    z-index: 0;
    position: relative;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
}