.App-header {
    background-color: #dd5405;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.App-header-text {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.App-header-text {
    font-size: 22pt;
}