.ProjectCon {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #2b2b2b;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.ProjectConTop {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.ProjectConBot {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222222;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ProjectConImage {
    min-width: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
}

.ProjectConText {
    min-width: 50%;
}

.ProjectConText h3 {
    font-size: 13pt;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    margin-top: 10px;
}

.ProjectConText p {
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12spt;
}
